.dash_head {
  width: 752.426px;
  transform: rotate(0.085deg);
  color: #000;
  /* font-family: Inter; */
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 64px;
}
.dash_para {
  color: #000;
  /* font-family: Inter; */
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 77px;
}
.dash_learnbtn {
  width: 256.71px;
  height: 78px;
  border-radius: 5px;
  background: #000;
  border: none;
  color: #fff;
  text-align: center;
  /* font-family: Inter; */
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.dash_getstartedbtn {
  display: flex;
  width: 257px;
  height: 78px;
  padding: 25px 76px;
  justify-content: center;
  border: none;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #5550bc;
  color: #fff;
  text-align: center;
  /* font-family: Inter; */
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-left: 31px;
}
.img_right {
  width: 710px;
  height: 571px;
}
.btm_para {
  width: 537px;
  height: 43px;
  border-radius: 10px;
  background: #ffe1dd;
  display: flex;
  justify-content: end;
  margin-top: 10px;
}
.btm_para_link {
  width: 537px;
  color: #630b00;
  /* font-family: Inter; */
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  width: 468px !important;
  height: 21px;
  margin-top: 10px;
  text-decoration: none;
}
.btm_para_link_img {
  margin-left: -42px;
  margin-right: 25px;
  margin-top: 6px;
  width: 14px;
  height: 14px;
}
/*  */

/* src/ScrollDottedLine.css */
/* .scroll-dotted-line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200vh;
  overflow: hidden;
  position: relative;
}

.line {
  position: relative;
  width: 2px;
  height: 80%;
}

.fill {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 5px;
  background-color: #9747ff;
  transition: height 8s ease;
}

.dotted-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  border-left: 3px dashed #9747ff;
  transition: height 8s ease;
} */
/* .down-arrow {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #333;
  margin: 10px auto;
}
.arrow-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
} */

/* Add these styles to your dashboard.css file */
.scroll-dotted-line-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  overflow: hidden;
  position: relative;
  margin-top: -107rem;
  margin-right: 100px;
}

.line {
  position: relative;
  width: 2px;
  height: 1700px;
}

.fill {
  position: absolute;
  /* top: 0; */
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  background-color: #9747ff;
  transition: height 3s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.dotted-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  border-left: 3px dashed #9747ff;
  transition: height 3s ease;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid #9747ff;
  align-self: center;
}

/*  */
.dash_btm_head {
  color: #000;
  /* font-family: Inter; */
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 408.737px;
  transform: rotate(0.096deg);
  text-transform: capitalize;
  margin-right: 117px;
}

.dash_btm1 {
  width: 110px;
  height: 29px;
  margin-right: 38px;
  margin-top: 11px;
}
.dash_btm2 {
  margin-top: -11px;
  width: 93px;
  height: 48px;
  margin-right: 38px;
}
.dash_btm3 {
  height: 29px;
  margin-right: 38px;
  width: 83px;
  margin-top: 5px;
}
.dash_btm4 {
  width: 110px;
  height: 29px;
  margin-right: 38px;
  margin-top: 17px;
}
.dash_btm5 {
  width: 89px;
  height: 88px;
  margin-right: 38px;
  margin-top: -28px;
}
.dash_btm6 {
  width: 76px;
  height: 33px;
  margin-right: 38px;
  margin-top: 6px;
}
/* counselor */
.con_section {
  height: 1900px;
  margin-top: 125px;
}
.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: #fff;
  /* border-bottom: 1px solid #ccc; */
}

.left,
.right {
  flex: 1;
}

/* .left img,
.right img {
  max-width: 100%;
  height: auto;
} */

.left {
  text-align: right;
}
.right {
  text-align: left;
}
.con_title {
  width: 629.977px;
  transform: rotate(0.042deg);
  color: #000;
  /* font-family: Inter; */
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.con_head {
  color: #000;
  /* font-family: Inter; */
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
  width: 629.977px;
  transform: rotate(0.042deg);
}
.con_img {
  width: 323px;
  height: 251px;
}
.con_right_title {
  color: #000;
  /*font-family : Rubik */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 197px;
}
.con_right_head {
  color: #002147;
  /*font-family : Rubik */
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  width: 574px;
}
.con_right_para {
  color: #5c7189;
  /*font-family : Rubik */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 411px;
}
.con_btn {
  display: flex;
  width: 222px;
  height: 51px;
  padding: 8.2px 25.61px 9.4px 25.8px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #000;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  /*font-family : Rubik */
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
