.img-fluid1 {
  width: 87px;
  height: 87px;
}
.img-fluid2 {
  width: 88px;
  height: 87px;
}

.img-fluid5 {
  width: 73px;
  height: 87px;
}
.img {
  margin-top: 65px;
}
.img-fluid6 {
  width: 92px;
  height: 87px;
  margin-left: 6px;
}
.img-fluid7 {
  width: 55px;
  height: 87px;
  margin-left: 32px;
}
.img-fluid11 {
  width: 211px;
  height: 42px;
}
.img-fluid12 {
  width: 168px;
  height: 87px;
  margin-left: 14px;
}
.img-fluid13 {
  width: 142px;
  height: 87px;
  margin-left: 24px;
}
.img-fluid14 {
  width: 122px;
  height: 87px;
  margin-left: 32px;
}

.getStarteddiv {
  /* width: 1440px !important; */
  height: 656px;
  background: #faf9f9;
  margin-top: 40px;
}
